 :root {
  --secondary-color: #FFFFFF;
  --animation-color: #2196F3;
  --paragraph-text-color: #757575;
  --background-main-color: #2F303A;
  --background-grey-color: #F5F4FA;
  --socialnet-sleep-color: #AFB1B8;
  --main-text-color: #212121;
  --border-color: #EEEEEE;
  --main-font-family: 'Roboto';
  --secondary-font-family: 'Raleway';
  --main-letter-spacing: 0.03em;
  --main-border-radius: 4px;
 }
  
